header {
  position: fixed;
  width: 100%;
  padding: 3rem;
  margin-bottom: 10rem;
  background-color: #fff;
  height: 10rem;

  nav {
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      img {
        width: 15rem;
      }
    }
    .nav-links {
      ul {
        gap: 2rem;
        font-size: 1.4rem;
        margin-left: -10rem;
      }
    }
    .nav-btns {
      gap: 1rem;
      align-items: center;
      font-size: 1.4rem;
      img {
        width: 4rem;
      }
    }
  }
}
