@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
  font-family: Roboto;
  scroll-behavior: smooth;
  //   overflow-x: hidden;
  transition: all 0.1s linear;
}
span {
  display: inline-block;
  font-family: Yellowtail;
  color: #7eb693;
  font-size: 2rem;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: #22343d;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}
li {
  list-style: none;
}
button {
  outline: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem 4.5rem;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.flex-class {
  display: flex;
}
.grid-class {
  display: grid;
}
.selected {
  font-weight: 700;
  color: #22343d;
}
